#game-board-image{
	position: relative;
	width: 100%;
	z-index:-1;
}

.troop-number{
	position: absolute;
	font-size:30px;
	color:black;
	cursor: pointer; 
}

#next-phase-button{
	float:right;
}

.hidden {display:none;}

.align-right{
	float:right;
}

.lower-ui .dropdown{
	padding-top:10px;
}

.inline{
	display:inline-block;
}

.info-panel-header{
	text-align:center;
	font-size:20px;
}

.player-headings{
	font-size:18px;
}

.player-stats-detail{
	
}

.player-headings{
	text-decoration:underline;
}

.action-button{
	margin-left:10px;
}

.bold { font-weight: bold; }